:root {
  --color-mostazaClaro: #C59826;
  --color-mostazaOscuro: #BA973C;
}

.DataPorProductoMenu {        
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr 1fr));
  gap: 1rem;
  padding: 3% 5%;
  justify-content: space-between;
  align-content: space-evenly;
  justify-items: stretch;
  align-items: start;
  grid-template-areas:
    "imagenProducto nombrePrecio"
    "imagenProducto agregarYaumentar";
  background: var(--color-white);
  border-radius: 3px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  border: 3px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  // margin-top: 5%;
}

.imagenProducto {
  justify-self: stretch;
  align-self: center;
  grid-area: imagenProducto;
  align-items: center;
  img {
    width: 100%;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.253));
  }
}

.btnInfo {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--color-white);
  text-align: start;
  display: flex;
  position: relative;
  z-index: 15;
  img {
    width: 30px;
    min-width: 15px;
  }
}

.nombrePrecio {
  justify-self: stretch;
  align-self: start;
  grid-area: nombrePrecio;
  align-items: flex-start;
  p {
    font-size: medium;
    font-weight: 600;
  }
}

.agregarYaumentar {
  justify-self: stretch;
  align-self: end;
  grid-area: agregarYaumentar;
  align-items: flex-end;
  font-size: small;
}

.Agregar__button {
  color: var(--color-beige);
  // font-family: var(--font-base);
  font-weight: 700;
  // width: 42%;
  letter-spacing: 0.04em;
  // line-height: 28px;
  background-color: var(--color-mostazaClaro);
  font-size: small;
  padding: 0.1rem 1.5rem;
  border-radius: 30px;
  border: none;
  outline: none;
  text-align: center;
  align-items: center;
}

.contador {
  display: flex;
  align-items: center;
  margin: 5%;
  justify-content: center;
  p {
    width: 30%;
    margin: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--color-white);
  }
}