@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.body-login {
  font-family: "Open Sans";
  font-weight: 100;
  display: flex;
  overflow: hidden;
}
.renderLogin {
  height: 100vh;
  width:100% ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  background-image: url('../../img/extra/Fondo-Login.png');
  background-repeat: no-repeat;
  background-size:130% 65%;
  background-position: bottom;
  object-fit: cover;
  padding-top: 2rem;
  button{
    width: 80px;
    height: 80px;
    z-index: 10;
    border-radius: 100%;
    justify-self: flex-start;
    background-color: transparent;
    border: transparent;
    color:aliceblue;
    img {
      width: 20px;
      height: 20px;
    }
  }
}
.logo-principal{
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: center;
  img{
    width: 170px;
    height: 118%;
    z-index: 10;
  }  
}
.firma{
  display: flex;
  width: 100%;
  height: 130px;
  justify-content: left;
  margin: 0 0 0px 20px;
  img{
    width: 143px;
    height: 100%;
    z-index: 6;
  }
}
input {
  ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  &:focus {
    outline: 0 transparent solid;
    ::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.7);
    }
    ::-moz-placeholder {
      color: rgba(0, 0, 0, 0.7);
    }
    :-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.7);
    }
  }
}
.login-form {
  width: 400px;
  display: flex;
  height: 100%;
  min-height: 10rem;
  margin: 63px auto 63px auto;
  max-width: 50%;
  padding: 0.5rem;
  z-index: 5;
  bottom: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-text {
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 50%;
  padding: 0.5rem;
  text-align: center;
  text-shadow: 1px -1px 0 rgba(0,0,0,0.3);
  .fa-stack-1x {
    color: black;
    z-index: 1;
  }
}
.login-username,
.login-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(white, 0.5);
  color: white;
  display: block;
  font-size: 20px;
  margin: 1rem;
  padding: 0.5rem;
  transition: 250ms background ease-in;
  width: calc(100% - 3rem);
  &:focus {
    background: white;
    color: black;
    transition: 250ms background ease-in;
  }
}
.login-forgot-pass {
  bottom: 0;
  font-size: 12px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 75%;
  left: 0;
  opacity: 0.6;
  padding: 0.5rem;
  text-align: center;
  &:hover {
    opacity: 1;
  }
}
.login-submit {
  border: 1px solid white;
  background: transparent;
  color: white;
  display: block;
  margin: 0.5rem auto;
  width: 150px;
  height: 40px;
  min-width: 1px;
  padding: 0.25rem;
  transition: 250ms background ease-in;
  &:hover,
  &:focus {
    background: white;
    color: black;
    transition: 250ms background ease-in;
  }
}
[class*="underlay"] {
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
}
// **************** Animacion Revisar ***************
// .underlay-photo {
//   animation: hue-rotate 6s infinite;
//   background: url('../../img/extra/Fondo-Login.png');
//   background-size: cover;
//   -webkit-filter: grayscale(30%);
//   z-index: 1;
// }
.underlay-black {
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
}
@keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
}
@media (max-height: 600px) {
  .login-text {
    height: 50%;
    width: 50%;
  }
  .logo-principal{
    img{
      height: 100px;
      width: 20%;
    }
  }
}
@media (max-height: 650px) {
  .login-text {
    height: 50%;
    width: 50%;
  }
  .logo-principal{
    img{
      height: 122px;
      width: 20%;
    }
  }
}
