section {
  width: auto;
  h2 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.paddingFlex {
  padding: 20px;
}

.boton{
display: flex;
justify-content: center;
& :hover{
  background-color: rgb(71, 67, 67);
}
} 

.descarga {
  background-color: #000;
  color: var(--color-white);
  text-decoration: none;
  outline: none;
  cursor: pointer;
  border-style: none;
  height: 100%;
  width: 100%;
}