:root {
  --color-green: #62c25e;
  --color-red: #d15656;
  --color-beige: beige;
}

.btnsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
  justify-content: space-evenly;
}

.confirm__button,
.cancel__button {
  color: var(--color-beige);
  font-family: var(--font-base);
  font-weight: 700;
  // width: 42%;
  letter-spacing: 0.04em;
  // line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-radius: 1px;
  border: none;
  outline: none;
  text-align: center;
}

.confirm__button {
  background-color: var(--color-green);
}

.cancel__button {
  background-color: var(--color-red);
}