.contenedorPedidosPorPreparar {
  width: 100%;
  h2 {
    text-align: center;
    /* font-family: monospace; */
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.gridResponsivePP {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
  /* overflow-x: overlay; */
}

.contenedorBotones{
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}