main {
	display: flex;
    width: 90%;
    margin: auto;
    /* height: 100vh; */
    flex-direction: column;
    justify-content: center;
	h2 {
		text-align: center;
		margin-bottom: 30px;
	}
	label {
		text-transform: capitalize;
		/* font-family: ui-monospace; */
	}
}