.datosRegistro{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  h2{
    text-align: center;
    margin-bottom: 20px;
  }
  h3{
    margin-top: 10px;
  }
}
.subTitle {
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 2rem;
  align-self: flex-start;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  button {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 194px;
    height: 38px;
    margin: 2rem 0;
    background-color: #000;
    color: #fff;
    border: transparent;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
}
.flexForm {
  display: flex;
  margin-bottom: 1rem;
  label {
    margin: 0 2rem;
    p {
      margin-bottom: 0.8rem;
    }
    input {
      width: 172px;
      height: 33px;
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
  }
}