.contenedorPedidos {
  width: 100%;
  h2 {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.navListadoProductosPorPedir {
  justify-self: stretch;
  align-self: center;
  grid-area: navListadoProductosPorPedir;
  max-height: 57px;
}

.listadoProductosPorPedir {
  justify-self: stretch;
  align-self: stretch;
  grid-area: listadoProductosPorPedir;
  overflow-x: overlay;
  /* margin-top: 10px; */
}

.listadoProductosPorPedir::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.listadoProductosPorPedir::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

.listadoProductosPorPedir::-webkit-scrollbar {
  background: rgba(128, 128, 128, 0);
}