table{   
  button{
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;    
  }
  td {
    font-size: small;
    font-style: italic;
    font-family: ui-monospace;
    text-transform: capitalize;
  }
  th {
    font-size: small;
    font-style: italic;
    font-family: ui-monospace;
  }
}