
div::-webkit-scrollbar {
  width: 0px;
}

.containerRP {  
  display: grid;
  grid-template-rows: 8vh 88vh;
  grid-auto-columns: 1fr;
  gap: 0% 0%;
  grid-auto-flow: row;
  justify-content: space-between;
  align-content: space-evenly;
  justify-items: stretch;
  align-items: start;
  grid-template-areas:
      "navRealizarPedido navRealizarPedido"
      "listadoProductosPorPedir resumenPedidosPorComprar";
}
  
.navRealizarPedido {
  justify-self: stretch;
  align-self: stretch;
  grid-area: navRealizarPedido;
}
  
.listadoProductosPorPedir {
  justify-self: stretch;
  align-self: stretch;
  grid-area: listadoProductosPorPedir;
  overflow-x: overlay;
  margin-right: 5%;
  }
  
  .resumenPedidosPorComprar {
  justify-self: stretch;
  align-self: stretch;
  grid-area: resumenPedidosPorComprar;
  overflow-x: overlay;

}
  
