.botonPreparar {
  display: flex;
  width: 30%;
  align-items: center;
  justify-items:end;
  button {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content:center;
    padding: 15px;
    width: 107px;
    height: 18px;
    color: #fff;
    margin: 0.2rem 0;
    border: transparent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
.botonSecPreparar{
  display: flex;
  gap: 5%;
  justify-content: center;
}
.contenedorPedido{
  display: flex;
  width: 100%;
  height: auto;
  padding: 0 4rem;
}
.btnPreparando{
  background-color: #3880A9;
}
.btnPreparado{
  background-color: #6A9F40;
}
.btnCancelar{
  background-color: #D92A2A;
}

.btnCancelar:hover {
  background-color: var(--color-redOscuro);
}

.btnPreparado:hover {
  background-color: var(--color-greenOscuro);
}

.btnPreparando:hover {
  background-color: #0d537c;
}