.botonEntragar {
  display: flex;
  width: 30%;
  align-items: center;
  justify-items:end;
  button {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content:center;
    padding: 15px;
    width: 107px;
    height: 18px;
    background-color: #6A9F40;
    color: #fff;
    border: transparent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  } :hover {
    background-color: var(--color-greenOscuro);
  }
}
.botonSecEntregar{
  display: flex;
  justify-content: center;
}
.contenedorPedido{
  display: flex;
  width: 100%;
  height: auto;
  padding: 0 4rem;
  flex-direction: column;
  align-items: center;
}